Importing necessary libraries

In [2]:
import pandas as pd

Checking for null values in Ship Mode column

In [11]:
df=pd.read_csv('orders.csv',na_values=['Not Available','unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

Converting column names into lowercase and replacing blank spaces with underscore(_)

In [12]:
df.columns=df.columns.str.lower()

In [13]:
df.columns=df.columns.str.replace(' ','_')

In [22]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sale_price', 'profit'],
      dtype='object')

Creating a new column discount

In [15]:
df['discount']=df['list_price']*df['discount_percent']*.01

In [ ]:
Creating a new column sale price

In [16]:
df['sale_price']=df['list_price']-df['discount']

In [ ]:
Creating a new column profit

In [17]:
df['profit']=df['sale_price']-df['cost_price']

In [18]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent', 'discount', 'sale_price', 'profit'],
      dtype='object')

TypeCasting the order date column to datetime

In [19]:
pd.to_datetime(df['order_date'],format='%Y-%m-%d')

0      2023-03-01
1      2023-08-15
2      2023-01-10
3      2022-06-18
4      2022-07-13
          ...
9989   2023-02-18
9990   2023-03-17
9991   2022-08-07
9992   2022-11-19
9993   2022-07-17
Name: order_date, Length: 9994, dtype: datetime64[ns]

Dropping columns list_price , cost_price and discount_percent

In [20]:
df.drop(columns=['list_price','cost_price','discount_percent'],inplace=True)

Creating a connection with the SQL Database to export the table.

In [1]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://springstudent:springstudent@localhost:3306/retail_sales")

In [2]:
conn=engine.connect()

In [21]:
df.to_sql('df_orders',con=conn,index=False,if_exists='append')

9994